/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
* {
  margin: 0;
  padding: 0;
}        
#map {
height: 100%;
width: 100%;
}
#container {
    /*position: relative;*/
    height: 100%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
        
html,body {
height: 100%;
margin: 0;
padding: 0;  /* fallback for old browsers */

}
#searchBox {
    width: 450px;
    height: 180px;
    position: absolute;
    /*display: none;*/
    top: 40%;
    left: 35%;
    border-style: solid;
    border-radius: 2px;
    border-color: #93BFB5;
    z-index: 9999;
    background-color: #FDE9C5;
    /*background-image: url("coffee.jpg");*/
    border-width: thin
}
#searchBox p.first{
    text-align: center;
    font-size: 30px;
    font-family:  'Baloo', cursive;
    margin-top: 5px;
    color: #2F2933
}

#searchBox p.second{
    text-align: left;
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
    font-family:  'Baloo', cursive;
    color: #2F2933
}

.hidden {
    display:none;
}
.hidden1 {
    display: none;
}
 
.coffeePic{
    position: relative;
    max-width:100%;
    max-height:100%;
}



#tempBox {

position: absolute;
height: 300;
width: auto;
padding: 5px;
z-index: 9999;
border-style: solid;
border-color: #A47D2C;
border-radius: 5px;
border-width: 1px;
/*display:inline-block;*/
/*box-sizing: border-box;*/
background-color: #FDE9C5;

}

#splashPage{
height: 100%;
margin: 0;
padding: 0; 
position: relative;
background-color: pink;

}

.signUpBox{
float: right;
width: 90px;

}
#description {
font-family: Roboto;
font-size: 15px;
font-weight: 300;
}
        
#infowindow-content .title {
font-weight: bold;
}
        
#infowindow-content {
display: none;
}
        
#map #infowindow-content {
display: inline-block;
}

#results {
/*display: inline;*/
text-align: center;
position: absolute;
bottom: 10px;
width: 100%;

}

        
.pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 background-color: #fff;
font-family: Roboto;
}
        
#pac-container {
padding-bottom: 12px;
margin-right: 12px;
}
        
.pac-controls {
display: inline-block;
 padding: 5px 11px;
}
        
.pac-controls label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}
        
#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
}
        
#pac-input:focus {
border-color: #4d90fe;
}
        
#title {
color: #fff;
background-color: #4d90fe;
font-size: 25px;
font-weight: 500;
padding: 6px 12px;
}
        
#target {
width: 345px;
}

.coffeeShops{
list-style-type: none;
/*width: 100%;*/
margin: 5px;
}

/*.coffeePic{
    float:left;
    object-fit: scale-down;
    
}*/

.coffeeShop span{
    font-family: 'Questrial', sans-serif;
    padding: 2.5px;
}


/*.clearfix {
    overflow: auto;
}*/

.name{
    font-size: 30px;
    font-family: 'Baloo', cursive;
    color: #2F2933;
    padding: 0px 5px;
}

.hoverText{
    font-size: 20px;
    font-family: 'Baloo', cursive;
    color: #2F2933;

}

.priceText{
    color: #228B22
}

.coffeeShop h3{  
    font-size: 18px;
    font-family: 'Baloo', cursive;
    color: #2F2933;
    padding: 0px 5px;
}


.coffeeShops li{
/*display: inline;*/
padding: 10px;
}
.coffeeShop{
    border-style: solid;
    border-color: #A47D2C;
    width: auto;
    border-radius: 5px;
    border-width: 1px;
    display:inline-block;
    box-sizing: border-box;
    background-color: #FDE9C5;
}

.coffeeInfo {
    border-style: solid;
    border-color: #A47D2C;
    width: auto;
    border-radius: 5px;
    border-width: 1px;
    display:inline-block;
    box-sizing: border-box;
    background-color: #FDE9C5;
}

/*#titleSearch {
    border: solid;
    border-style: thin;
    
}
#titleSearch p{
    position: absolute;
    font-family: 'Baloo', cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color:   #210063
}*/

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
width: 220px;
/*position: absolute;*/
margin: 0 auto;
margin-top: 25px;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Form text input */
 
.search-wrapper input {
/*position: absolute;*/
width: 200px;
height: 50px;
padding: 10px 5px;
border-style: solid none solid solid;
border-width: thin;
border-color: #93BFB5;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
/*border: 0;*/
background: #EEE;
border-radius: 3px 0 0 3px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    /*box-shadow: 0 0 2px rgba(0,0,0,.8) inset;*/
}
 
.search-wrapper input::-webkit-input-placeholder {
   /*color: #999;*/
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    /*color: #999;*/
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    /*color: #999;*/
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: absolute;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 50px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #EB5338;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #e54040;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-bubble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}
.hvr-bubble-top:hover:before, .hvr-bubble-top:focus:before, .hvr-bubble-top:active:before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}


/* login page */

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }


.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.signUp{
    position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.signUp h1 {color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;}
input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

